In [15]:
import numpy as np
import pandas as pd

In [16]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [17]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [18]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [19]:
type(data.values)

numpy.ndarray

In [20]:
data[0]

0.25

In [21]:
data[0:3]

0    0.25
1    0.50
2    0.75
dtype: float64

In [22]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=["a", "b", "c", "d"])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [23]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [24]:
data["a"]

0.25

In [25]:
data[0]

0.25

In [26]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [27]:
data[2]

0.25

In [28]:
data[0]

KeyError: 0

In [ ]:
data.index

In [ ]:
population_dict = {
    "California": 38332521,
    "Texas": 26448193,
    "New York": 19651127,
    "Florida": 19552860,
    "Illinois": 12882135
}
population = pd.Series(population_dict)
population

In [ ]:
population.index

In [ ]:
population[0]

In [ ]:
population["California"]

In [ ]:
population["California":"Illinois"]

In [ ]:
population[0:3]

In [ ]:
pd.Series([2, 4, 6])

In [ ]:
pd.Series(5, index=[100, 200, 300])

In [ ]:
pd.Series({2:"a", 1:"b", 3:"c"})

In [ ]:
pd.Series({2:"a", 1:"b", 3:"c"}, index=[3, 2])

In [ ]:
area_dict = {
    "California": 423967,
    "Texas": 695662,
    "New York": 141297,
    "Florida": 170312,
    "Illinois": 149995
}
area = pd.Series(area_dict)
area

In [ ]:
states = pd.DataFrame({"population": population, "area": area})
states

In [ ]:
states.columns

In [ ]:
states.index

In [ ]:
states["population"]

In [ ]:
states["area"]

In [ ]:
pd.DataFrame(population, columns=["population"])

In [ ]:
pd.DataFrame({"population": population, "area": area})

In [ ]:
data = [{"a": i, "b": i * 2} for i in range(3)]
data

In [ ]:
pd.DataFrame(data)

In [ ]:
pd.DataFrame([{'a': 0, 'b': 1}, {'b': 2, 'c': 3}])

In [ ]:
np.random.seed(10)
data = np.random.rand(3, 2)
data

In [ ]:
pd.DataFrame(data)

In [ ]:
pd.DataFrame(data, columns=["foo", "bar"], index=["a", "b", "c"])

In [ ]:
A = np.zeros(3, dtype=[("A", "i8"), ("B", "f8")])
A

In [ ]:
data = pd.DataFrame(A)
data

In [ ]:
data.columns

In [ ]:
data.index

In [ ]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

In [ ]:
ind[0]

In [ ]:
ind[1:3]

In [ ]:
ind.size, ind.shape, ind.ndim, ind.dtype

In [ ]:
ind[0] = 3

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=["a", "b", "c", "d"])
data

In [ ]:
data['b']

In [ ]:
'a' in data

In [ ]:
data.keys()

In [ ]:
data.index

In [ ]:
mydict = {"a": 1, "b": 2, "c": 3}

In [ ]:
for key in mydict.keys():
    print("{}: {}".format(key, mydict[key]))

In [ ]:
for (key, value) in mydict.items():
    print("{}: {}".format(key, value))

In [ ]:
list(data.items())

In [ ]:
data

In [ ]:
data["b"]

In [ ]:
data["e"] = 1.25

In [ ]:
data

In [ ]:
type(data)

In [ ]:
data["a":"c"]

In [ ]:
data[0:3]

In [ ]:
(data > 0.3) & (data < 0.8)

In [ ]:
data[(data > 0.3) & (data < 0.8)]

In [ ]:
data[["a", "e"]]

In [ ]:
data = pd.Series(["a", "b", "c"], index=[1, 3, 5])
data

In [ ]:
data[1]

In [ ]:
data[1:3]

In [ ]:
data

In [ ]:
data.loc[1]

In [ ]:
data.loc[1:3]

In [ ]:
data.iloc[1]

In [ ]:
data.iloc[1:3]

In [ ]:
population

In [ ]:
area

In [ ]:
data = pd.DataFrame({"area": area, "pop": population})
data

In [ ]:
data["area"]

In [ ]:
data.area

In [ ]:
data["density"] = data["pop"] / data["area"]
data

In [ ]:
data.values

In [ ]:
data.T

In [ ]:
data.values.shape

In [ ]:
data.values[0, :]

In [ ]:
data["area"]

In [ ]:
data.iloc[:3, :2]

In [ ]:
data.loc[:"Illinois", :"pop"]

In [ ]:
data.loc[data.density > 100, ["pop", "density"]]

In [ ]:
data

In [ ]:
data["density"][0]

In [ ]:
data.loc["California", "density"]

In [ ]:
data.iloc[0, 2]

In [29]:
np.random.seed(10)

In [34]:
np.random.seed(10)
ser = pd.Series(np.random.randint(0,10,4))
df=pd.DataFrame(np.random.randint(0,10,(3,4)),columns=["A","B","C","D"])

In [35]:
df

   A  B  C  D
0  9  0  1  8
1  9  0  8  6
2  4  3  0  4

In [36]:
ser

0    9
1    4
2    0
3    1
dtype: int32

In [37]:
np.add(ser,1)

0    10
1     5
2     1
3     2
dtype: int32

In [38]:
np.sort(ser)

array([0, 1, 4, 9])

In [ ]:
gtㅍㄴ

In [33]:
df

   0  1  2  3
0  9  0  1  8
1  9  0  8  6
2  4  3  0  4

In [31]:
ser

0    9
1    4
2    0
3    1
dtype: int32

In [39]:
import pyspark

ImportError: No module named 'pyspark'

In [41]:
np.random.seed(5)
A=np.random.randint(10,size=(3,4))
A

array([[3, 6, 6, 0],
       [9, 8, 4, 7],
       [0, 0, 7, 1]])

In [42]:
type(A)

numpy.ndarray

In [43]:
df = pd.DataFrame(A,columns=["c1","c2","c3","c4"])
df

   c1  c2  c3  c4
0   3   6   6   0
1   9   8   4   7
2   0   0   7   1

In [44]:
typte(df)

NameError: name 'typte' is not defined

In [45]:
type(df)

pandas.core.frame.DataFrame

In [48]:
df.loc[0:0,]

   c1  c2  c3  c4
0   3   6   6   0

In [49]:
for dtype in ["object", "int"]:
    print("dtype = ",dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype =  object
95.5 ms ± 3.46 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype =  int
3.79 ms ± 85.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [4]:
data = pd.Series([1,np.nan,"hello",None])

In [2]:
import numpy as np
import pandas as pd